ARGUS_TOKEN_SIGNATURE=cole_seu_token_aqui
ARGUS_BASE_URL=http://apioci.argus.app.br:23243/apiargus
ARGUS_ID_CAMPANHA=123
ARGUS_ID_GRUPO_USUARIO=267
ARGUS_ULTIMOS_MINUTOS=5
ARGUS_CAMPANHA_NOME=Vieiracred
ARGUS_ATTENDANCE_WEBHOOK_URL=https://app.apivieiracred.com.br/webhook/api/argus-ligacoes

# Opcionais:
# ARGUS_ID_LOTE=
# ARGUS_ID_USUARIO=
# ARGUS_ID_STATUS_LIGACAO=
# ARGUS_ID_TABULACAO=

FLASK_HOST=127.0.0.1
FLASK_PORT=5055
